<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <mytest_stripe>
                <model>Mytest\Checkout\Model\Payment\Stripe</model>
                <title>Mytest Stripe</title>
                <active>1</active>
                <group>mytest_stripe</group>
            </mytest_stripe>
        </payment>
        <carriers>
            <vaimo_stripe_newpost>
                <active>1</active>
                <sallowspecific>1</sallowspecific>
                <specificcountry>UA</specificcountry>
                <model>Mytest\Checkout\Model\Carrier\NewPost</model>
                <name>Vaimo NEW POST shipping</name>
                <price>10.00</price>
                <title>Vaimo NEW POST shipping</title>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
                <handling_type>F</handling_type>
                <new_post_key>f5b54b3f7ce5800ca0ffcd95a4dbed15</new_post_key>
                <city_sender>db5c88e0-391c-11dd-90d9-001a92567626</city_sender>
            </vaimo_stripe_newpost>
        </carriers>
    </default>
</config>
