<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Mytest\Checkout\Gateway\Command\AuthorizationInterface"
                type="Mytest\Checkout\Gateway\Command\Authorization" />
    <preference for="Mytest\Checkout\Api\CityRepositoryInterface"
                type="Mytest\Checkout\Model\CityRepository" />
    <preference for="Mytest\Checkout\Model\Commands\Area\GetListInterface"
                type="Mytest\Checkout\Model\Commands\Area\GetList" />
    <preference for="Mytest\Checkout\Model\NewPostAddressInterface"
                type="Mytest\Checkout\Model\NewPostAddress" />
    <type name="Magento\Checkout\Block\Checkout\LayoutProcessor">
        <plugin name="mytest_checkout_custom_shipping_fields" type="Mytest\Checkout\Plugin\Checkout\LayoutProcessorPlugin" sortOrder="10"/>
    </type>
</config>